<h1>Cadastre seu livro</h1>
<form action="/books/insertbooks" method="post">
    <div class="form-control">
        <label for="title">Título: </label>
        <input type="text" name="title" placeholder="Write the title of book">
    </div>
    <div class="form-control">
        <label for="pages">Pages: </label>
        <input type="number" name="pages" placeholder="Number of pages">
    </div>
    <input type="submit" value="cadastrar">
</form>